In [1]:
import pandas
import time

In [2]:
current_year = time.strftime("-%Y", time.localtime())
current_month = time.strftime("%m-", time.localtime())
current_day = time.strftime("%d", time.localtime())

In [3]:
yesterday = str(int(current_day)-1)

In [4]:
date = current_month + yesterday + current_year
date

'03-17-2020'

In [5]:
path_to_dataset = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/' + date + '.csv'

In [6]:
df = pandas.read_csv(path_to_dataset, sep=',')

In [7]:
df.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707
1,NaN,Italy,2020-03-17T18:33:02,31506,2503,2941,41.8719,12.5674
2,NaN,Iran,2020-03-17T15:13:09,16169,988,5389,32.4279,53.6880
3,NaN,Spain,2020-03-17T20:53:02,11748,533,1028,40.4637,-3.7492
4,NaN,Germany,2020-03-17T18:53:02,9257,24,67,51.1657,10.4515

In [9]:
df.columns

Index(['Province/State', 'Country/Region', 'Last Update', 'Confirmed',
       'Deaths', 'Recovered', 'Latitude', 'Longitude'],
      dtype='object')