In [1]:
import pandas
import time

In [2]:
current_year = time.strftime("-%Y", time.localtime())
current_month = time.strftime("%m-", time.localtime())
current_day = time.strftime("%d", time.localtime())

In [3]:
yesterday = str(int(current_day)-1)

In [4]:
date = current_month + yesterday + current_year
date

'03-17-2020'

In [5]:
path_to_dataset = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/' + date + '.csv'

In [6]:
df = pandas.read_csv(path_to_dataset, sep=',')

In [7]:
df.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707
1,NaN,Italy,2020-03-17T18:33:02,31506,2503,2941,41.8719,12.5674
2,NaN,Iran,2020-03-17T15:13:09,16169,988,5389,32.4279,53.6880
3,NaN,Spain,2020-03-17T20:53:02,11748,533,1028,40.4637,-3.7492
4,NaN,Germany,2020-03-17T18:53:02,9257,24,67,51.1657,10.4515

In [8]:
df['Confirmed']

0      67799
1      31506
2      16169
3      11748
4       9257
       ...
271        0
272        0
273        0
274        0
275        0
Name: Confirmed, Length: 276, dtype: int64

In [9]:
df.iloc[1]

Province/State                    NaN
Country/Region                  Italy
Last Update       2020-03-17T18:33:02
Confirmed                       31506
Deaths                           2503
Recovered                        2941
Latitude                      41.8719
Longitude                     12.5674
Name: 1, dtype: object

In [11]:
subset = df.loc[:, ['Province/State','Country/Region','Confirmed', 'Deaths']]

In [13]:
subset.iloc[list(range(100))]

    Province/State Country/Region  Confirmed  Deaths
0            Hubei          China      67799    3111
1              NaN          Italy      31506    2503
2              NaN           Iran      16169     988
3              NaN          Spain      11748     533
4              NaN        Germany       9257      24
..             ...            ...        ...     ...
95        Xinjiang          China         76       3
96  Inner Mongolia          China         75       1
97         Ningxia          China         75       0
98         Alberta         Canada         74       0
99          Quebec         Canada         74       0

[100 rows x 4 columns]

In [ ]:
small_range = list(range(10))

In [ ]:
subset = df.iloc[ small_range]

subset